@{
    bool underMaintenance = false;
    string strUnderMaintenance = System.Configuration.ConfigurationManager.AppSettings["UnderMaintenance"];
    if (!String.IsNullOrEmpty(strUnderMaintenance))
    {
        if (!bool.TryParse(strUnderMaintenance, out underMaintenance))
        {
            underMaintenance = false;
        }
    }

    // NOT Loggin YET
    if (!WebView.AuthenticationModel.IsAuthenticated())
    {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - ZGA</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")

        <script type="text/javascript">
            var base_url = '@Url.Content("~//")';
            window.top.location = base_url;
        </script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)
        @RenderSection("head", required: false)
    </head>
    <body>
        <span>This site is under maintenance</span>
    </body>
    </html>
        
    }

    if (underMaintenance)
    {           // **************************************** Under Maintenance page
        
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <script type="text/javascript">
            window.top.location = '@Url.Action("Logout", "Authentication")';
        </script>
        @RenderBody()
    </head>
    <body>
        <span>This site is under maintenance</span>
    </body>
    </html>
    }           // **************************************** END Under Maintenance page
    else
    {       // NOT Under Maintenance

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")

        <script type="text/javascript">
            var base_url = '@Url.Content("~//")';
        </script>

        <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.8.0.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/jquery-ui-1.8.2.custom.min.js")"></script>
        <script type='text/javascript' src="@Url.Content("~/scripts/jquery.hoverIntent.minified.js")"></script>
        <script type='text/javascript' src="@Url.Content("~/scripts/jquery.dcverticalmegamenu.1.1.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/jquery.blockUI.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/locale/i18n/grid.locale-en.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/jquery.jqGrid-4.4.5.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/jquery.easyui.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>

        @RenderSection("scripts", required: false)

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/easyui/default/easyui.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/easyui/icon.css")">

        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/COntent/vertical_menu.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/redmond/jquery-ui-1.8.2.custom.css")" media="screen"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ui.jqgrid.css")" media="screen"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/easyui/default/easyui.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/easyui/icon.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/infoss.css")">

        @RenderSection("head", required: false)
        <script type="text/javascript">
            function ShowLoadingImage() {
                //jQuery.blockUI({ message: jQuery('#loading-panel'), css: { border: 'none', backgroundColor: 'none' } });
            }

            function HideLoadingImage() {
                //jQuery.unblockUI();
            }

            $(window).load(function () {
                $(".page-loader").fadeOut("slow");
            })

            $(document).ajaxStart(function () {
                jQuery.blockUI({ message: jQuery('#loading-panel'), css: { border: 'none', backgroundColor: 'none' }, baseZ: 2000 });
                //timer = setTimeout(function () { body.addClass("loading"); }, 50)
            });
            $(document).ajaxStop(function () {
                jQuery.unblockUI();
            });

            $(document).ready(function () {
                $('#mega-1, .mega-menu').dcVerticalMegaMenu({
                    rowItems: '6',
                    speed: 'fast',
                    effect: 'slide',
                    direction: 'right'
                });

                Date.prototype.toString = function () { return [['Sunday,', 'Monday,', 'Tuesday,', 'Wednesday,', 'Thursday,', 'Friday,', 'Saturday,'][this.getDay()], this.getDate(), ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][this.getMonth()], this.getFullYear()].join(' ') }
                var datetime = new Date();
                $('#datetime_message').text(datetime);


                if ($.browser.msie) {
                    $('#menusisi').stop().animate({ 'marginLeft': '-180px' }, 1000);
                    $('#menusisi > li.out').hover(function () {
                        $('ul', $(this)).stop().animate({ 'marginLeft': '-2px' }, 400);
                    }, function () {
                        $('ul', $(this)).stop().animate({ 'marginLeft': '-180px' }, 400);
                    }
                );
                } else {
                    $('#menusisi').stop().animate({ 'margin-Left': '-240px' }, 1000);
                    $('#menusisi > div.menuimage, #menusisi').mouseover(function () {
                        //alert('hover')
                        $('#menusisi').stop().animate({ 'margin-left': '-2px' }, 400);
                    });
                    $('#menusisi').mouseout(function () {
                        $('#menusisi').stop().animate({ 'margin-left': '-240px' }, 400);
                    });
                }

                // Export buttons display toggle
                $(".btnExport").click(function () {
                    $(".exportpanel").slideToggle('slow');

                    // Set Active Class
                    if ($(this).hasClass('btnExportActive'))
                        $(this).removeClass('btnExportActive');
                    else
                        $(this).addClass('btnExportActive');

                });


                /*-------- Change Password -------- */
                $('#frm_change_pass_div').dialog('close');
                $("#frm_change_pass_btn_save").click(function () {
                    var v_old_password = $($.trim('#txtoldpass')).val(),
                        v_new_password = $($.trim('#txtnewpass')).val(),
                        v_confirm_password = $($.trim('#txtconfirmpass')).val();

                    $.ajax({
                        url: base_url + "User/ChangePassword",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            OldPassword: v_old_password, NewPassword: v_new_password, ConfirmPassword: v_confirm_password
                        }),
                        success: function (result) {
                            $.messager.alert('Result', result, 'info');
                            clearForm();
                        }
                    });
                });

                $('#frm_change_pass_btn_cancel').click(function () {
                    $('#frm_change_pass_div').dialog('close');
                });

                function clearForm(form) {
                    $('#txtoldpass').val("");
                    $('#txtnewpass').val("");
                    $('#txtconfirmpass').val("");
                }

                $('#menu_change_pass').click(function () {
                    $('#txtoldpass').focus();
                    $('#frm_change_pass_div').dialog('open');
                });
                /*-------- End Change Password -------- */


                $(".btnPrintSA").click(function () {
                    $(".printsapanel").slideToggle('slow');

                });

                $(window).bind('resize', function () {
                    $(".list_master").setGridWidth($(window).width() - 20).setGridHeight($(window).height() - 200);
                }).trigger('resize');

                //$(window).bind('resize', function () {
                //    $(".list_master_filemapping").setGridWidth($(window).width() - 80).setGridHeight($(window).height() - 300);
                //}).trigger('resize');

            });
        </script>
    </head>
    <body class="easyui-layout">
        <div class="page-loader"></div>
        <div id="loading-panel" style="display: none">
            <div id="loading-overlay">
            </div>
            <div id="loading">
                <span>Loading... </span>
            </div>
        </div>
        <div data-options="region:'north',border:false,draggable:false" style="height: 35px; padding: 10px; background: #727272 !important;">

            <div id="datetime_message">
            </div>
            <div id="header-message">| &nbsp; INTEGRATED FORWARDING &amp; SHIPPING SYSTEM</div>

            @if (WebView.AuthenticationModel.IsAuthenticated())
            {
                <div id="user-greeting">
                    Welcome <strong>@WebView.AuthenticationModel.GetUserName()</strong> &nbsp;|&nbsp; <a href="@Url.Action("Logout", "Authentication")">Logout
                    </a>
                </div>
            }
        </div>
        <div data-options="region:'south',border:false" style="height: 10px; background: #E7EBF2 !important;">
            &nbsp;
        </div>
        <div data-options="region:'center',border:false" style="margin-right: 5px;">

       <div id="menusisi">
                <div id="menusisixx">
                    <div id="logo">
                       @* <img src='@Url.Content(infoss.Models.AccountModels.GetCompanyLogoPath())' 
                            title='@infoss.Models.AccountModels.GetCompanyName()' width='200' height='105'>*@
                    </div>

                    <div id="panel-menu">
                        <div class="dcjq-container clear">
                            <div class="dcjq-vertical-mega-menu">
                                <ul id="mega-1" class="mega-menu">
                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="#">Master</a>
                                        <ul>
                                               <li><a href="#">Data</a>
                                                <ul>
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CompanyInfo, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "Company")">Company</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Contact, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "MstContact")">Contact</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ContactGroup, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "ContactGroup")">Contact Group</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ContactDetail, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "ContactDetail")">Contact Detail</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.SupplierDetail, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "SupplierDetail")">Supplier Detail</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Employee, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "Employee")">Marketing</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Supplier, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "MstSupplier")">Supplier</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ItemType, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "MstItemType")">ItemType</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.SubType, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "MstSubType")">SubType</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Machine, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "MstMachine")">Machine</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.RollerType, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "MstRollerType")">RollerType</a> </li>}
                                               @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.UoM, Core.Constants.Constant.MenuGroupName.Master))
                                               {<li><a href="@Url.Action("Index", "MstUom")">UoM</a> </li>}
                                                </ul>
                                            </li>
                                            <li><a href="#">Logistic</a>
                                                <ul>
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Blanket, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "MstBlanket")">Blanket</a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BlendingRecipe, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "MstBlendingRecipe")">Blending Recipe</a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CoreBuilder, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "MstCoreBuilder")">CoreBuilder</a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Item, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "MstItem")">Item </a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ItemAvgPrice, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "MstItemAvgPrice")">Item Avg Price</a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.RollerBuilder, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "MstRollerBuilder")">RollerBuilder</a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Repacking, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "Repacking")">Unit Conversion</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.StockAdjustment, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "StockAdjustment")">Stock Adjustment</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.StockMutation, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "StockMutation")">Stock Mutation</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CustomerStockAdjustment, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "CustomerStockAdjustment")">Customer's Stock Adjustment</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CustomerStockMutation, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "CustomerStockMutation")">Customer's Stock Mutation</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Warehouse, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "MstWarehouse")">Warehouse</a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.WarehouseItem, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "WarehouseItem")">Warehouse Item</a> </li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.WarehouseMutation, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "WarehouseMutation")">Warehouse Mutation</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CustomerItem, Core.Constants.Constant.MenuGroupName.Master))
                                                    {<li><a href="@Url.Action("Index", "CustomerItem")">Customer's Item</a> </li>}
                                                </ul>
                                            </li>
                                        </ul>                 
                                    </li>
                                    <li><a href="#">Manufacturing</a>
                                        <ul>
                                            <li><a href="#">Blanket</a>
                                                <ul>
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BlanketWorkOrder, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                    {<li><a href="@Url.Action("Index", "BlanketWorkOrder")">Blanket Work Order</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BlanketWorkProcess, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                    {<li><a href="@Url.Action("Index", "BlanketWorkProcess")">Blanket Work Process</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BlanketWarehouseMutation, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                    {<li><a href="@Url.Action("Index", "BlanketWarehouseMutation")">Blanket Warehouse Mutation</a></li>}
                                                </ul>
                                            </li>
                                           <li><a href="#">Roller Recovery</a>
                                             <ul>
                                                 @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.RollerIdentification, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                 {<li><a href="@Url.Action("Index", "CoreIdentification")">Roller Identification Form (RIF)</a></li>}
                                                 @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.RecoveryWorkOrder, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                 {<li><a href="@Url.Action("Index", "RecoveryWorkOrder")">Roller Collection Note (RCN)</a></li>}
                                                 @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.RollerAccessoryDetail, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                 {<li><a href="@Url.Action("Index", "CoreAccessoryDetail")">Customer's Accessories</a></li>}
                                                 @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.RecoveryWorkProcess, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                 {<li><a href="@Url.Action("Index", "RecoveryWorkProcess")">Recovery Work Chart (RWC)</a></li>}
                                                 @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.RollerWarehouseMutation, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                 {<li><a href="@Url.Action("Index", "RollerWarehouseMutation")">Roller Warehouse Mutation</a></li>}
                                             </ul>
                                            </li>
                                            <li><a href="#">Chemical Blending</a>
                                                <ul>
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BlendingWorkOrder, Core.Constants.Constant.MenuGroupName.Manufacturing))
                                                    {<li><a href="@Url.Action("Index", "BlendingWorkOrder")">Blending Work Order</a></li>}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Transaction</a>
                                        <ul>
                                            <li><a href="#">Accounting</a>
                                                <ul>
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.PurchaseDPAllocation, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "PurchaseDownPaymentAllocation")">Purchase DP Allocation</a></li>}
                                                    @if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.SalesDPAllocation, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "SalesDownPaymentAllocation")">Sales DP Allocation</a></li>}
	    											@if(WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Account, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "ChartOfAccount")">Chart Of Account</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.GeneralLedger, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "GeneralLedgerSaldo")">General Ledger</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Memorial, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "Memorial")">Memorial</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Closing, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "Closing")">Closing</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ValidComb, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "ValidComb")">Valid Combination</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ValidCombIncomeStatement, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "ValidCombIncomeStatement")">Valid Combination Income Statement</a></li>}
                                                </ul>
                                            </li>
                                            <li><a href="#">Finance</a>
                                                <ul>
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.PaymentRequest, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "PaymentRequest")">Payment Request</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CashBank, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "MstCashBank")">Cash Bank</a> </li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Currency, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "Currency")">Currency</a> </li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ExchangeRate, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "ExchangeRate")">Tax Rate</a> </li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CashMutation, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "CashMutation")">Cash Mutation</a> </li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CashBankAdjustment, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "CashBankAdjustment")">CashBank Adjustment</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.CashBankMutation, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "CashBankMutation")">CashBank Mutation</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Payable, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "Payable")">Payable</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.PaymentVoucher, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "PaymentVoucher")">Payment Voucher</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.PurchaseDownPayment, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "PurchaseDownPayment")">Purchase DP</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Receivable, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "Receivable")">Receivable</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.ReceiptVoucher, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "ReceiptVoucher")">Receipt Voucher</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.SalesDownPayment, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "SalesDownPayment")">Sales DP</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BankAdministration, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "BankAdministration")">Bank Administration</a></li>}
                                                </ul>
                                            </li>
                                            <li><a href="#">Purchase</a>
                                                <ul>
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.PurchaseOrder, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "PurchaseOrder")">Purchase Order</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.PurchaseReceival, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "PurchaseReceival")">Purchase Receival</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.PurchaseInvoice, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "PurchaseInvoice")">Purchase Invoice</a></li>}
                                                </ul>
                                            </li>
                                            <li><a href="#">Sales</a>
                                                <ul>
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.SalesQuotation, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "SalesQuotation")">Sales Quotation</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.SalesOrder, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "SalesOrder")">Sales Order</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.DeliveryOrder, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "DeliveryOrder")">Delivery Order</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.VirtualOrder, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "VirtualOrder")">Virtual Order</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.TemporaryDeliveryOrder, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "TemporaryDeliveryOrder")">Temporary Delivery Order</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.TemporaryDeliveryOrderClearance, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "TemporaryDeliveryOrderClearance")">Temporary Delivery Order Clearance</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.SalesInvoice, Core.Constants.Constant.MenuGroupName.Transaction))
                                                    {<li><a href="@Url.Action("Index", "SalesInvoice")">Sales Invoice</a></li>}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Report</a>
                                        <ul>
                                            <li><a href="#">Accounting/Finance Report</a>
                                                <ul>
													@if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.IncomeStatement, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("IncomeStatement", "FinanceReport")">Income Statement</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BalanceSheet, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("BalanceSheet", "FinanceReport")">Balance Sheet</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.BalanceSheet, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("BalanceSheetDetail", "FinanceReport")">Balance Sheet Detail</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("Neraca", "FinanceReport")">Neraca</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("PerincianNeraca", "FinanceReport")">Perincian Neraca</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("NeracaSaldo", "FinanceReport")">Ringkasan Neraca Saldo</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("TranscationList", "FinanceReport")">Daftar Transaksi</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("KartuBukuBesar", "FinanceReport")">Kartu Buku Besar</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("APVendorPayment", "FinanceReport")">AP Vendor Payment</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("ARCustomerPayment", "FinanceReport")">AR Customer Payment</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("ARAgingSchedule", "FinanceReport")">AR Aging Schedule</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("ARAgingSummary", "FinanceReport")">AR Aging Summary</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Finance, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("ARMutation", "FinanceReport")">AR Mutation</a></li>}
                                                </ul>
                                            </li>
                                            <li><a href="#">Customer Sales Report</a>
                                                <ul>
													@if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerGroupSalesQuarterly", "Report")">Customer Group Sales Quarterly</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerGroupSalesLast6Year", "Report")">Customer Group Sales Last 6 Years</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerSalesQuarterly", "Report")">Customer Sales Quarterly</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerSalesQuarterlyComparison", "Report")">Customer Sales Quarterly Comparison</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerSalesYearly", "Report")">Customer Sales Yearly</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerSalesComparedLastYear", "Report")">Customer Sales Compared with Last Year</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerSalesLast6Year", "Report")">Customer Sales Last 6 Years</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("CustomerSalesByItem", "Report")">Customer Sales by Item</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("SortedCustomerSalesLast6Year", "Report")">Sorted Customer Sales Last 6 Years</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("SalesOrderDailyByDate", "Report")">Sales Order Daily</a></li>}
                                                    
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="#">Sales Personnel Report</a>
                                                <ul>
													@if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("SalesPersonnelYearly", "Report")">Sales Personnel Yearly by Value</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("SalesPersonnelComparisonYearlyByValue", "Report")">Sales Personnel Comparison Yearly by Value</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("SalesPersonnelComparisonYearlyByQty", "Report")">Sales Personnel Comparison Yearly by Quantity</a></li>}
                                                </ul>
                                            </li>
                                            <li><a href="#">Item Sales Report</a>
                                                <ul>
													@if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("ItemSalesYearlyByValue", "Report")">Item Sales Yearly by Value</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("ItemSalesYearlyByQuantity", "Report")">Item Sales Yearly by Quantity</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("VulcanBlanketSales", "Report")">Vulcan Blanket Sales</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("DailyByQuantity", "Report")">Daily Report by Quantity</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("DiscountByDate", "Report")">Discount</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Sales, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("SerahTerima", "Report")">Form Serah Terima</a></li>}
                                                </ul>
                                            </li>
                                            <li><a href="#">Manufacturing Report</a>
                                                <ul>
													@if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Manufacturing, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("MonthlyBlanketUsage", "Report")">Monthly Blanket Usage</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Manufacturing, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("MonthlyRollerCompoundUsage", "Report")">Monthly Roller Compound Usage</a></li>}

                                                </ul>
                                            </li>
                                            <li><a href="#">Purchase Report</a>
                                                <ul>
													@if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Purchases, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("PurchaseByItem", "Report")">By Item</a></li>}
                                                    @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Purchases, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("PurchasingBySupplier", "Report")">By Supplier</a></li>}
                                                     @*@if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Purchases, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("PurchaseByValue", "Report")">By Value</a></li>}
                                                     @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.Purchases, Core.Constants.Constant.MenuGroupName.Report))
                                                    {<li><a href="@Url.Action("PurchaseByDueDate", "Report")">By Payment Due Date</a></li>}*@
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-51"><a href="#">Setting</a>
                                        <ul>
                                            @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.User, Core.Constants.Constant.MenuGroupName.Setting))
                                            {<li><a href="@Url.Action("Index", "User")">User</a></li>}
                                            @if (WebView.AuthenticationModel.IsAllowed("View", Core.Constants.Constant.MenuName.UserAccessRight, Core.Constants.Constant.MenuGroupName.Setting))
                                            {<li><a href="@Url.Action("Index", "UserAccess")">User Access Right</a></li>}
                                            
                                            <li><a href="#" id="menu_change_pass">Change Password</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div id="sidebar-footer">
                        Copyright &copy; 2014 - @DateTime.Today.Year
			            <br />
                        PT. Zentrum Graphics Asia
                    </div>
                </div>
                <div class="menuimage" style="text-align: center; width: 15px; height: 170px; border: solid 1px #4cff00; float: left; background: #b6ff00; margin-top: 150px; border-bottom-right-radius: 10px; border-top-right-radius: 10px;">
                    <br />
                    M<br />
                    a<br />
                    i<br />
                    n<br />
                    <br />
                    M<br />
                    e<br />
                    n<br />
                    u
                </div>
            </div>

            <div style="margin: 10px;">
                @RenderBody()
            </div>
        </div>

        <div id="frm_change_pass_div" class="easyui-dialog" style="text-align: left; width: 360px;"
            data-options="modal:true" title=".: CHANGE PASSWORD :.">

            <div id="frm_change_pass_toolbar" style="border: 1px solid #ddd;" class="form_toolbar">
                <a id="frm_change_pass_btn_save" tabindex="98" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">SAVE</a>
                <a id="frm_change_pass_btn_cancel" tabindex="99" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
            </div>

            <div style="height: 160px; overflow: auto">
                <form id="frm_change_pass">
                    <fieldset class="ui-widget-content ui-corner-all input_form_div">
                        <table width="100%" border="0" cellpadding="1" cellspacing="1" class="input_form_tbl">
                            <tr>
                                <td>
                                    <label>Old Password</label></td>
                                <td>
                                    <input id="txtoldpass" type="password" size="20" maxlength="20" align="left" tabindex="95" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>New Password</label></td>
                                <td>
                                    <input id="txtnewpass" type="password" size="20" maxlength="20" align="left" tabindex="96" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Confirm Password</label></td>
                                <td>
                                    <input id="txtconfirmpass" type="password" size="20" maxlength="20" align="left" tabindex="97" /></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
    </html>

    }   // END NOT Under Maintenance
}
