@{
    ViewBag.Title = "Customer Sales Quarterly Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/reportcustomersalesquarterly.js")"></script>
}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title=".: Customer Sales Quarterly Report :.">
<div id="toolbar" class="form_toolbar">
        @*<a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>*@
        <a id="btn_print" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">Print Data</a>
    </div>

<!-- Dialog Box -->

        <div style="overflow: auto">
            <form id="frm">
                @*<fieldset class="ui-widget-content ui-corner-all input_form_div">*@
                    <table width="100%" border="0" cellpadding="1" cellspacing="1" class="input_form_tbl">
                        
                        <tr>
                            <td width="80">
                                <label>Q1: Start Date</label></td>
                             <td width="200">
                             <div id="StartQ1DateDiv"><input id="StartQ1Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="StartDateDiv2"><input id="StartDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                             <td width="70">
                                <label>End Date</label></td>
                             <td>
                             <div id="EndQ1DateDiv"><input id="EndQ1Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="EndDateDiv2"><input id="EndDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                        </tr>
                        <tr>
                            <td width="80">
                                <label>Q2: Start Date</label></td>
                             <td width="200">
                             <div id="StartQ2DateDiv"><input id="StartQ2Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="StartDateDiv2"><input id="StartDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                             <td width="70">
                                <label>End Date</label></td>
                             <td>
                             <div id="EndQ2DateDiv"><input id="EndQ2Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="EndDateDiv2"><input id="EndDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                        </tr>
                        <tr>
                            <td width="80">
                                <label>Q3: Start Date</label></td>
                             <td width="200">
                             <div id="StartQ3DateDiv"><input id="StartQ3Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="StartDateDiv2"><input id="StartDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                             <td width="70">
                                <label>End Date</label></td>
                             <td>
                             <div id="EndQ3DateDiv"><input id="EndQ3Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="EndDateDiv2"><input id="EndDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                        </tr>
                        <tr>
                            <td width="80">
                                <label>Q4: Start Date</label></td>
                             <td width="200">
                             <div id="StartQ4DateDiv"><input id="StartQ4Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="StartDateDiv2"><input id="StartDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                             <td width="70">
                                <label>End Date</label></td>
                             <td>
                             <div id="EndQ4DateDiv"><input id="EndQ4Date" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToString("MM/dd/yyyy")"/>
                            </div>
                             @*<div id="EndDateDiv2"><input id="EndDate2" type="text" size="10" disabled="disabled"/></div>*@
                             </td>
                        </tr>
                        <tr><td></td></tr>
                         
                    </table>
                @*</fieldset>*@
            </form>
    </div>
<!-- End Dialog Box -->

 

  </div>

