@{
    ViewBag.Title = "Recovery Work Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/recoveryworkprocess.js")"></script>

}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title=".: @ViewBag.Title :.">
<div id="toolbar" class="form_toolbar">
        <a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
        <a id="btn_process" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-book'">Process</a>
        <a id="btn_add_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add Accessory</a>
        <a id="btn_reject" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Reject</a>
        <a id="btn_unreject" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'">Undo Reject</a>
        <a id="btn_finish" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-approval'">Finish</a>
        <a id="btn_unfinish" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'">Unfinish</a>
        <a id="btn_print" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">Print Data</a>
    </div>

    <div id="table_div">
        <table id="list"></table>
        <div id="pager" class="scroll" style="text-align: center;"></div>
    </div>

<!-- Dialog Box -->
    <div id="form_div" class="easyui-dialog" style="text-align: left; padding:0px 0px 10px" data-options="modal:true"  
        title=".:  @ViewBag.Title :.">

        <div id="form_toolbar" class="form_toolbar">
            <a id="form_btn_save" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Save</a>
            <a id="form_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>

        <div style="overflow: auto">
            <form id="frm">
               @* <fieldset class="ui-widget-content ui-corner-all input_form_div">*@
                       
                   <table id = "tablefrm" width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                        <tr nowrap>
                            <td width="139" nowrap style="width: 100px">
                                <label>ID</label></td>
                            <td width="550" colspan="3">
                                <input id="id" type="text" size="10" disabled="disabled"/></td>
                        </tr>
                        <tr>
                            <td>
                             <label>Recovery Order Id</label>
                            </td>
                            <td colspan="3">
                               <input id="RecoveryOrderId" type="text" size="10" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr>
                             <td>
                                <label>RollerBuilder Sku</label>
                            </td>
                            <td>
                              <input id="RollerBuilderSku" type="text" size="10" disabled="disabled"/>
                            </td>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                              <input id="RollerBuilder" type="text" size="30" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr>
                             <td>
                                <label>CoreTypeCase</label>
                            </td>
                            <td>
                              <input id="CoreTypeCase" type="text" size="10" disabled="disabled"/>
                            </td>
                            <td>
                                <label>Acc</label>
                            </td>
                            <td>
                              <input id="Acc" type="text" size="30" disabled="disabled"/>
                            </td>
                        </tr>
                            <tr>
                             <td>
                                <label>Repair Request Case</label>
                            </td>
                            <td>
                              <input id="RepairRequestCase" type="text" size="10" disabled="disabled"/>
                            </td>
                        </tr>
                        
                    </table>
                <div id ="process_div">
                     <table width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                       <tr>
                            <td>Process List</td>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td>1 .</td>
                                         <td  width="300" nowrap style="width: 180px"> Disassembled</td>
                                         <td><input type="checkbox" name="IsDisassembled" id="IsDisassembled" ></td>
                                         <td>6 .</td>
                                        <td>  ConventionalGrinded </td>
                                        <td><input type="checkbox" name="IsConventionalGrinded" id="IsConventionalGrinded" ></td>
                                    </tr>
                                    <tr>
                                         <td>2 .</td>
                                         <td width="300" nowrap style="width: 180px"> StrippedAndGlued</td>
                                       <td><input type="checkbox" name="IsStrippedAndGlued" id="IsStrippedAndGlued" ></td>
                                         <td>7 .</td>
                                        <td>  CWCGrinded </td>
                                         <td><input type="checkbox" name="IsCWCGrinded" id="IsCWCGrinded" ></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>3 .</td>
                                        <td>Wrapped</td>
                                       <td><input type="checkbox" name="IsWrapped" id="IsWrapped" >
                                       </td>
                                         <td>8 .</td>
                                        <td> PolishedAndQC </td>
                                       <td><input type="checkbox" name="IsPolishedAndQC" id="IsPolishedAndQC" ></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="4">
                                            Compound Usage
                                           <input id="CompoundUsage" name="CompoundUsage" type="text" size="15" maxlength="20" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0"  />
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>4 .</td>
                                        <td> Vulcanized </td>
                                        <td><input type="checkbox" name="IsVulcanized" id="IsVulcanized" ></td>
                                        <td>9 .</td>
                                        <td> Packaged </td>
                                        <td><input type="checkbox" name="IsPackaged" id="IsPackaged" ></td>
                                    </tr>
                                    <tr>
                                         <td>5 .</td>
                                        <td> FacedOff </td>
                                        <td><input type="checkbox" name="IsFacedOff" id="IsFacedOff" ></td>
                                      
                                        <td>
                                       </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                   </table>
                </div>
                  <div id="tabledetail_div">
                        <div id="toolbardetail" class="grid_toolbar">
                            <a id="btn_add_new_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add New</a>
                            <a id="btn_edit_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit</a>
                            <a id="btn_del_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
                        </div>
                                  <table id="listdetail" class="scroll" cellpadding="0" cellspacing="0"></table>
                        <div id="pagerdetail" class="scroll" style="text-align: center;"></div>
                    </div>
               @* </fieldset>*@
            </form>
        </div>
    </div>
<!-- End Dialog Box -->


     <!-- Dialog Box Accesory-->
    <div id="accessory_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px;width :500px"
        data-options="modal:true" title=".: Input Accesory :.">

        <div id="accessory_toolbar" class="form_toolbar">
            <a id="accessory_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="accessory_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="accessory_info">
              <table  width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                  <tr>
                      <td width="139" nowrap style="width: 100px">
                           Item
                      </td>
                      <td>
                         <input id="ItemId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                         <input id="btnItem" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                         <input id="Item" name="ItemId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                      </td>
                  </tr>
                  <tr>
                      <td >
                          <label>Quantity</label></td>
                          <td>
                       <input id="Quantity" name="Quantity" type="text" size="15" maxlength="20" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0"  />
                       </td> 
                  </tr>
              </table>
          
        </div>
    </div>
<!-- End Dialog Box Accesory-->

     

 <!-- Dialog Box Finish-->
    <div id="finished_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px;width :500px"
        data-options="modal:true" title=".: Finished @ViewBag.Title :.">

        <div id="finished_toolbar" class="form_toolbar">
            <a id="finished_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="finished_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="finished_info">
              <table  width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                  <tr>
                      <td width="139" nowrap style="width: 100px">
                          Id
                      </td>
                      <td>
                         <input id="idfinished" type="text" size="10" disabled="disabled"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Finish Date
                      </td>
                      <td>
                         <input id="FinishedDate"class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToShortDateString()"/>
                         <input name="FinishedDate" type="text" size="1" hidden="hidden"/>
                         <input name="IsFinished" type="text" size="1" hidden="hidden"/>
                      </td>
                  </tr>
              </table>
          
        </div>
    </div>
<!-- End Dialog Box Finish-->

 <!-- Dialog Box Rejected-->
    <div id="rejected_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px;width :500px"
        data-options="modal:true" title=".: Rejected @ViewBag.Title :.">

        <div id="rejected_toolbar" class="form_toolbar">
            <a id="rejected_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="rejected_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="rejected_info">
              <table  width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                  <tr>
                      <td width="139" nowrap style="width: 100px">
                          Id
                      </td>
                      <td>
                         <input id="idrejected" type="text" size="10" disabled="disabled"/>
                      </td>`
                  </tr>
                  <tr>
                      <td>
                          Rejected Date
                      </td>
                      <td>
                         <input id="RejectedDate"class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToShortDateString()"/>
                         <input name="RejectedDate" type="text" size="1" hidden="hidden"/>
                         <input name="IsRejected" type="text" size="1" hidden="hidden"/>
                      </td>
                  </tr>
              </table>
          
        </div>
    </div>
<!-- End Dialog Box Rejected-->

<!-- Dialog Box  Delete-->
    <div id="delete_confirm_div" class="easyui-dialog" style="text-align: left; height: 130px; width: 300px;"
        data-options="modal:true" title=".: Confirmation :.">

        <div id="delete_confirm_toolbar" class="form_toolbar">
            <a id="delete_confirm_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="delete_confirm_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="delete_confirm_info">
            <span>Are you sure to delete the selected record?</span>
            <input id="delete_confirm_id" type="hidden" />
        </div>
    </div>
<!-- End Dialog Box Delete-->


<!-- Look Up item -->
    <div id="lookup_div_item" class="easyui-dialog" title="List Item" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_item" class="grid_toolbar">
            <a id="lookup_btn_add_item" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_item" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_item" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_item" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up item -->
  </div>

