@{
    ViewBag.Title = "Blanket Work Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/blanketworkprocess.js")"></script>

}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title=".: @ViewBag.Title :.">
<div id="toolbar" class="form_toolbar">
        <a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
        <a id="btn_process" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-book'">View</a>
        <a id="btn_reject" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Reject</a>
        <a id="btn_unreject" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'">Undo Reject</a>
        <a id="btn_finish" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-approval'">Finish</a>
        <a id="btn_unfinish" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'">Unfinish</a>
    </div>

    <div id="table_div">
        <table id="list"></table>
        <div id="pager" class="scroll" style="text-align: center;"></div>
    </div>

    <!-- Dialog Box -->
    <div id="form_div" class="easyui-dialog" style="text-align: left; padding:0px 0px 10px" data-options="modal:true"  
        title=".:  @ViewBag.Title :.">

        <div id="form_toolbar" class="form_toolbar">
            <a id="form_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>

        <div style="overflow: auto">
            <form id="frm">
               @* <fieldset class="ui-widget-content ui-corner-all input_form_div">*@
                       
                    <table id = "tablefrm" width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                        <tr nowrap>
                            <td width="139" nowrap style="width: 100px">
                                <label>ID</label></td>
                            <td>
                                <input id="id" type="text" size="10" disabled="disabled"/></td>
                            <td>
                             <label>Blanket Order Id</label>
                            </td>
                            <td>
                               <input id="BlanketOrderId" type="text" size="10" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr>
                             <td>
                                <label>Blanket Sku</label>
                            </td>
                            <td>
                              <input id="BlanketSku" type="text" size="10" disabled="disabled"/>
                            </td>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                              <input id="BlanketName" type="text" size="30" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr>
                             <td>
                                <label>RollBlanket Sku</label>
                            </td>
                            <td>
                              <input id="RollBlanketSku" type="text" size="10" disabled="disabled"/>
                            </td>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                              <input id="RollBlanket" type="text" size="30" disabled="disabled"/>
                            </td>
                        </tr>
                            <tr>
                             <td>
                                <label>LeftBar Sku</label>
                            </td>
                            <td>
                              <input id="LeftBarSku" type="text" size="10" disabled="disabled"/>
                            </td>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                              <input id="LeftBar" type="text" size="30" disabled="disabled"/>
                            </td>
                        </tr>
                            <tr>
                             <td>
                                <label>RightBar Sku</label>
                            </td>
                            <td>
                              <input id="RightBarSku" type="text" size="10" disabled="disabled"/>
                            </td>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                              <input id="RightBar" type="text" size="30" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Process List</td>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td>1 .</td>
                                        <td  width="160" nowrap style="width: 160px"> Cutting</td>
                                        <td><input type="checkbox" name="iscut" id="iscut" disabled="disabled"></td>
                                        <td class="bar">5 .</td>
                                        <td class="bar">Bar Mounted</td>
                                        <td><input type="checkbox" name="isbarmounted" id="isbarmounted" disabled="disabled"></td>
                                    </tr>
                                    <tr>
                                        <td>2 .</td>
                                        <td width="160" nowrap style="width: 180px"> Side Seal</td>
                                        <td><input type="checkbox" name="issidesealed" id="issidesealed" disabled="disabled"></td>
                                        <td class="bar">6 .</td>
                                        <td class="bar">Bar Heat Pressed </td>
                                        <td><input type="checkbox" name="isbarheatpressed" id="isbarheatpressed" disabled="disabled"></td>
                                    </tr>
                                    <tr>
                                        <td class="bar">3 .</td>
                                        <td class="bar">Bar Prepared </td>
                                        <td><input type="checkbox" name="isbarprepared" id="isbarprepared" disabled="disabled"></td>
                                        <td class="bar">7 .</td>
                                        <td class="bar">Bar Pull Off Tested </td>
                                        <td><input type="checkbox" name="isbarpullofftested" id="isbarpullofftested" disabled="disabled"></td>
                                    </tr>
                                    <tr>
                                        <td>4 .</td>
                                        <td>Adhesive Tape Applied </td>
                                        <td><input type="checkbox" name="isadhesivetapeapplied" id="isadhesivetapeapplied" disabled="disabled"></td>
                                        <td>8 .</td>
                                        <td>QC And Marked </td>
                                        <td><input type="checkbox" name="isqcandmarked" id="isqcandmarked" disabled="disabled"></td>                                                                                
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Roll Blanket Amount</td>
                                        <td>
                                            <input id="ViewRollBlanketUsage" name="ViewRollBlanketUsage" type="text" size="3" maxlength="4" class="textright easyui-numberbox" data-options="groupSeparator:',',precision:2" value="0"  disabled="disabled"/>
                                        </td>
                                        <td>9 .</td>
                                        <td>Packaged </td>
                                        <td><input type="checkbox" name="ispackaged" id="ispackaged" disabled="disabled"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Defect Amount</td>
                                        <td>
                                            <input id="ViewRollBlanketDefect" name="ViewRollBlanketDefect" type="text" size="3" maxlength="4" class="textright easyui-numberbox" data-options="groupSeparator:',',precision:2" value="0"  disabled="disabled"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                   
               @* </fieldset>*@
            </form>
        </div>
    </div>
    <!-- End Dialog Box -->

    <!-- Dialog Box  Item-->
    <div id="item_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px"
        data-options="modal:true" title=".: Input Item :.">

        <div id="item_toolbar" class="form_toolbar">
            <a id="item_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="item_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="item_info">
              <table  width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                  <tr>
                      <td width="139" nowrap style="width: 100px">
                          Blanket
                      </td>
                      <td>
                         <input id="BlanketId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                         <input id="btnBlanket" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                         <input id="Blanket" name="BlanketId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                      </td>
                  </tr>
                  <tr>
                       <td>Blanket Type</td>
                        <td>
                            <select id="IsBarRequired">
                                <option value="True">With Bar</option>
                                <option value="False">Non Bar</option>
                            </select>
                        </td>
                  </tr>
                     <tr>
                       <td>Has Bar 1</td>
                        <td>
                            <select id="HasLeftBar">
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                            <input id="BlanketLeftBarId" name="BlanketLeftBarId" type="text" size="10" maxlength="50" class="editable upper" disabled="disabled" />
                            <input id="BlanketLeftBar" name="BlanketLeftBar" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                         </td>
                  </tr>
                     <tr>
                       <td>Has Bar 2</td>
                        <td>
                            <select id="HasRightBar">
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                            <input id="BlanketRightBarId" name="BlanketRightBarId" type="text" size="10" maxlength="50" class="editable upper" disabled="disabled" />
                            <input id="BlanketRightBar" name="BlanketRightBar" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </td>
                  </tr>
              </table>
          
        </div>
    </div>
    <!-- End Dialog Box Item-->

    <!-- Dialog Box Finish-->
    <div id="finished_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px;width :500px"
        data-options="modal:true" title=".: Finished @ViewBag.Title :.">

        <div id="finished_toolbar" class="form_toolbar">
            <a id="finished_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="finished_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="finished_info">
              <table  width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                  <tr>
                      <td width="139" nowrap style="width: 100px">
                          Id
                      </td>
                      <td>
                         <input id="idfinished" type="text" size="10" disabled="disabled"/>
                      </td>
                  </tr>
                  <tr>
                      <td>Roll Blanket Amount</td>
                      <td>
                         <input id="RollBlanketUsageFinish" name="RollBlanketUsageFinish" type="text" size="3" maxlength="4" class="textright easyui-numberbox" data-options="groupSeparator:',',precision:2" value="0"  />
                      </td>

                      <td style="width: 100px">Defect Amount</td>
                      <td>
                         <input id="RollBlanketDefectFinish" name="RollBlanketDefectFinish" type="text" size="3" maxlength="4" class="textright easyui-numberbox" data-options="groupSeparator:',',precision:2" value="0" />
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Finish Date
                      </td>
                      <td>
                         <input id="FinishedDate"class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToShortDateString()"/>
                         <input name="FinishedDate" type="text" size="1" hidden="hidden"/>
                         <input name="IsFinished" type="text" size="1" hidden="hidden"/>
                      </td>
                  </tr>
              </table>
          
        </div>
    </div>
    <!-- End Dialog Box Finish-->

    <!-- Dialog Box Rejected-->
    <div id="rejected_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px;width :500px"
        data-options="modal:true" title=".: Rejected @ViewBag.Title :.">

        <div id="rejected_toolbar" class="form_toolbar">
            <a id="rejected_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="rejected_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="rejected_info">
              <table  width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                  <tr>
                      <td width="139" nowrap style="width: 100px">
                          Id
                      </td>
                      <td>
                         <input id="idrejected" type="text" size="10" disabled="disabled"/>
                      </td>`
                  </tr>
                  <tr>
                      <td>Roll Blanket Amount</td>
                      <td>
                         <input id="RollBlanketUsageReject" name="RollBlanketUsageReject" type="text" size="3" maxlength="4" class="textright easyui-numberbox" data-options="groupSeparator:',',precision:2" value="0"  />
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Rejected Date
                      </td>
                      <td>
                         <input id="rejectedDate"class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToShortDateString()"/>
                         <input name="rejectedDate" type="text" size="1" hidden="hidden"/>
                         <input name="Isrejected" type="text" size="1" hidden="hidden"/>
                      </td>
                  </tr>
              </table>      
        </div>
    </div>
    <!-- End Dialog Box Rejected-->

  </div>

